<nav{{ attributes.addClass('block', 'block-menu', 'navigation', 'menu--util-navigation').removeAttribute('aria-labelledby').setAttribute('aria-label', 'util nav') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>